<!DOCTYPE html>
<html lang="en" ng-app="presidents">

<head>
    <title>Presidents</title>
    <link rel="icon" href="https://vignette.wikia.nocookie.net/animalcrossing/images/8/8c/Dace_HHD_Icon.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/frontend_app.js"></script>
</head>

<body ng-controller="pres_data">
    <h1>Presidents of the United States</h1>
    Sort Type: {{ sortType }} Sort Reverse: {{ sortReverse }} Search Query: {{ searchFish }}
    <table class="table">

        <thead>
            <tr>
                <th>
                    <a href="#" ng-click="sortType = 'number'; sortReverse = !sortReverse">Number
                        <span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'president'; sortReverse = !sortReverse">President
                        <span ng-show="sortType == 'president' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'president' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'birth_year'; sortReverse = !sortReverse">Birth year
                        <span ng-show="sortType == 'birth_year' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'birth_year' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'death_year'; sortReverse = !sortReverse">Death year
                        <span ng-show="sortType == 'death_year' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'death_year' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'president.death_year-president.birth_year'; sortReverse = !sortReverse">Age on Death
                        <span ng-show="sortType == 'president.death_year-president.birth_year' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'president.death_year-president.birth_year' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'took_office'; sortReverse = !sortReverse">Took office
                        <span ng-show="sortType == 'took_office' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'took_office' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'left_office'; sortReverse = !sortReverse">Left office
                        <span ng-show="sortType == 'left_office' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'left_office' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="sortType = 'years_in_office(president)'; sortReverse = !sortReverse">Years in office
                        <span ng-show="sortType == 'years_in_office(president)' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'years_in_office(president)' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th></th>
                <th>
                    <a href="#" ng-click="sortType = 'party'; sortReverse = !sortReverse">Party
                        <span ng-show="sortType == 'party' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'party' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="president in presidents | orderBy: sortType: sortReverse">
            <tr ng-class="{'democratic': president.party == 'Democratic', 
            'republican': president.party == 'Republican'}">
                <!-- 'demrep': president.party == Democratic-Republican, 'whig': president.party == Whig} -->
                <td>
                    <input type="text" ng-model="president.number">
                </td>
                <td>

                    <input type="text" ng-model="president.president | uppercase">
                </td>
                <td>
                    <input type="text" ng-model="president.birth_year">
                </td>
                <td>
                    <input type="text" ng-model="president.death_year">

                </td>
                <td>
                    <input type="text" ng-model="president.death_year-president.birth_year">
                </td>
                <td>
                    <input type="text" ng-model="president.took_office">
                </td>
                <td>
                    <input type="text" ng-model="president.left_office">
                </td>
                <td>
                    <!-- years in office see fronend app-->
                    <input type="text" ng-model="years_in_office(president)">
                </td>
                <td>
                    <span ng-if="president.party == 'Democratic'">
                        <img src="../images/donkey.png"> </span>
                    <span ng-if="president.party == 'Republican'">
                        <img src="../images/elephant.jpg"> </span>
                </td>
                <td>
                    <input type="text" ng-model="president.party">
                </td>
                <td>
                    <button ng-click="update(employee)">update</button>
                </td>
                <td>
                    <button ng-click="delete(employee)">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>