.democratic {
    background-color: blue;
}

.republican {
    background-color: red;
}

.demrep {
    background-color: purple;
}

.whig {
    background-color: lightgray;
}

img {
    height: 30%;
}

th {
    color: #0275d8;
}